.botonPagination{
    border: none;
    font-weight: bolder;
    background-color: #FFCC00;
    color: black;
    padding: 10px;
    border-radius: 5px;
}
.botonPagination:hover{
    transition: all 0.4s;
    background-color: #0075BE;
    color: white;
}